body{
    width:100%;
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

#main_container{
    padding: 8px;
}

div#listPerson{
    display:inline-block;
    width:78%;
}

fieldset {
    font-size: 18px;
    line-height: 1.5;
    width: 15%;
    float:right;
    padding: 10px;
    position:fixed;
    right:2%;
}


html{
	background-color: white;
	font-family: 'Avenir';
}

h1{
	color: steelblue;
	padding-left: 40px;
    font-size: 56px;
    font-family: 'Century Gothic';
}



h2{
    color: steelblue;
    padding-left: 40px;
    font-family: 'Century Gothic';
    padding-bottom: 20px;
}


h3{
    color: black;
    padding-left: 20px;
    font-family: 'Verdana';
}
p.menuPage {
    
    font-size: 16px;
	line-height: 1.5;
	padding-left: 20px;
}

img{
	padding: 15px;
	float: left;
	width: 200px;
}

img.cc {
    width: 100px;
    margin: auto;
    display: block;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
}

ul.topnav li {float: left;}

ul.topnav li a {
	font-family: 'Avenir';
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

p{
	color:black;
    font-size: 16px;
	line-height: 1.5;
	font-family: 'Avenir';
    padding-left: 45px;
    
}

span.forename {
    color:black;
    font-size: 24px;
	line-height: 1.5;
	font-family: 'Avenir';
    padding-left: 0px;
}

span.surname {
    color:black;
    font-size: 24px;
	line-height: 1.5;
	font-family: 'Avenir';
    padding-left: 0px;
}




span.histPerson.on {background-color: lemonchiffon}

span.fictPerson.on {background-color: lightgreen}

span.biblPerson.on {background-color: pink}

span.mythPerson.on {background-color: paleturquoise}

