html{
    margin: 0px;
    padding: 0px;

}

body{
    width:100%;
    margin: 0px;
    padding: 0px;
}
#main_container{
    padding: 8px;
}

p.prose {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 40px;
    /*width: 900px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Avenir;
}

div{
    display:block;
}

div#main{
    display:inline-block;
    width:82%;
}

fieldset {
    font-size: 18px;
    line-height: 1.5;
    width: 10%;
    font-family: Avenir;
    float:right;
    padding: 10px;
    position:fixed;
    right:2%;
}

p.bookHead {
	font-size: 24px;
    line-height: 1.5;
    padding-left: 10px;

    /*width: 900px;*/
    padding-top: 20px;
    
    color: black;
    font-family: Avenir;
}

p.narrative{
    font-size: 20px;
    line-height: 1.5;
    padding-left: 10px;
/*
    width: 900px;*/
    padding-top: 20px;
    
    color: black;
    font-family: Avenir;
    text-align:center;
}

p.letter{
    font-size: 19px;
    line-height: 1.5;
    padding-left: 10px;

    /*width: 900px;*/
    padding-top: 20px;
    
    color: black;
    font-family: Avenir;
    text-align:center;
}

h1 {
	color: steelblue;
	padding-left: 48px;
    font-size: 56px;
    font-family: 'Century Gothic';
}



h2 {
    color: steelblue;
    padding-left: 48px;
    font-family: 'Century Gothic';
    padding-bottom: 20px;
    font-size: 32px;
}

h3 {
    color: dimgray;
    padding-left: 48px;
    font-family: 'Avenir';
    padding-bottom: 20px;
    font-size: 24px;

    font-weight: lighter;
}

div.floating{
	color:black;
	padding-left: 60px;
}

ul.person{
    font-size: 18px;
    line-height: 1.5;
    padding-left: 40px;
    /*width: 900px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Avenir;
}

ul.places{font-size: 18px;
    line-height: 1.5;
    padding-left: 40px;
   /* width: 900px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Avenir;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
}

ul.topnav li {float: left;}

ul.topnav li a {
	font-family: 'Avenir';
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
 
    }
span.placeName.on {color:#00b33c;font-weight: bold;}
span.persName.on {color:#9900cc;font-weight: bold;}
span.emotion.on {color:red;font-weight: bold;}
span.body.on {color:brown; font-weight: bold;}

div.song {font-size: 18px;
    line-height: 1.5;
    padding-left: 70px;
    /*width: 900px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Avenir;}

