html{
	font-family: 'Avenir';
	padding:10px;
}
h1 {
	color: steelblue;
	padding-left: 48px;
    font-size: 56px;
    font-family: 'Century Gothic';
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
}

ul.topnav li {float: left;}

ul.topnav li a {
	font-family: 'Avenir';
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
 
    }

h2 {
    color: steelblue;
    padding-left: 48px;
    font-family: 'Century Gothic';
    padding-bottom: 10px;
    font-size: 32px;
}

div#placeNames{
    font-size: 16px;
    padding-left:60px;
}